*{
    box-sizing: border-box;
}
body{
    background-color: black;
}
h1{
    color: white;
}
.ball{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 22px;
    font-weight: bold;
    transition: 1s;
    margin-top: 10px;
}
.ball1{
    background-color: blue;
}
.ball2{
    background-color:yellow;
    height: 150px;
    width: 150px;
}
.ball3{
    background-color: purple;
}